include mixins

+html('pipeline: ' + pipeline.name)
  script(type='text/javascript').
    setTimeout("location.reload(true);", "#{config.refresh}");
  div.row
    div.col-md-12
      h1.title= pipeline.name
    each stage in stages
      div.col-lg-1.col-md-2.col-sm-3.col-xs-6.stage
        h2= stage.name
        each box in stage.boxes
          div.box
            h3= box.name
            div= box.notes
